.transactionAction {
    position: fixed;
    left: 28vw;
    top: 9vw;
    font-weight: bold;
    font-size: 3.2vw;
}
.transactionAction.Buying {
    color: #32ABDF;
    transform: translateX(0.4vw);
}
.transactionAction.Creating {
    color: #DF5C32;
    transform: translateX(-0.4vw);
}
.transactionAction.Sale {
    color: #A997DF;
    transform: translateX(-1vw);
}
.transactionAction.Selling {
    color: #21897E;
    transform: translateX(0.4vw);
}

.rightKoyns {
    right: -5rem;
    top: -5vh;
    height: 110vh;
}

.leftKoyns {
    left: -2.6rem;
    bottom: -3.4rem;
    height: 50vh;
}